.breadcrumps__item{
    /*text-decoration: none;*/
    list-style-type:none;
   

}
.breadcrumps{
	display: flex;
	padding: 0px;
}
.breadcrumps__link{
    color: #ec1e79;
    font-family: 'Gotham Pro';
    font-style: italic;
    text-decoration: none;
}
.breadcrumps__item:after{
    content:" /";
}
.breadcrumps__item:last-child:after{
    display: none;
}
.breadcrumps__link--active{
    color: black;
}


