.nav__link{
    color: #ec1e79;
}
.nav__link:hover{
    color: black;
}
.nav {
    float: left;
    width: 10%;
    margin-right: 30px;
   
}
.nav__item:last-child{
    margin-bottom: 0px;
}
.nav__list {
    list-style: none;
}

.nav__item {
    margin-bottom: 20px;
    position: relative;
    transition: .3s;
    cursor: pointer;
}


.link_main {
    list-style-type: none;
    list-style-image: url(../../img/main_icon.png);
    color: black;
  
}

.active-link {
    color: black;
}

.link_feed {
    list-style-type: none;
    list-style-image: url(../../img/feed_icon.png);
   

}

.link_wallet {
    list-style-type: none;
    list-style-image: url(../../img/wallet_icon.png);
 
}

.link_main:hover {
    list-style-type: none;
    list-style-image: url(../../img/main_icon.png);
    color: black;
   
}

.link_feed:hover {
    list-style-type: none;
    list-style-image: url(../../img/feed_icon_hover.png);
   
    color: black;
}

.link_wallet:hover {
    list-style-type: none;
    list-style-image: url(../../img/wallet_icon_hover.png);
  
    color: black;
}

.link_feed:hover .nav_link {
    list-style-type: none;
    list-style-image: url(../../img/feed_icon_hover.png);
    
    color: black;
}

.link_wallet:hover .nav_link {
    list-style-type: none;
    list-style-image: url(../../img/feed_icon_hover.png);
   
    color: black;
}

.link_wallet:hover {
    list-style-type: none;
    list-style-image: url(../../img/wallet_icon_hover.png);
    
    color: black;
}