.nav__link{
    color: #ec1e79;
    text-decoration: none;
    font-family: "Gotham Pro";
    font-weight: 700;
    font-size: 12px;
}
.nav__link:hover{
    color: black;
}


.nav__item:last-child{
    margin-bottom: 0px;
}
.nav__list {
    list-style: none;
}

.nav__feed--active{
    list-style-type: none;
    list-style-image: url(../../img/feed_icon_hover.png);
    margin-bottom: 20px;
}
.nav__item {
 
    transition: .3s;
    cursor: pointer;
}
.nav__main--active{
    list-style-type: none;
    list-style-image: url(../../img/main_icon_hover.png);
    margin-bottom: 20px;
}

.nav__main  {
    list-style-type: none;
    list-style-image: url(../../img/main_icon.png);
    margin-bottom: 20px;
}
.nav__wallet--active{
    list-style-image: url(../../img/wallet_icon_hover.png)
}
.active-link {
    color: black;
}

.nav__feed {
    list-style-type: none;
    list-style-image: url(../../img/feed_icon.png);
    margin-bottom: 20px;
}

.nav__wallet {
    list-style-type: none;
    list-style-image: url(../../img/wallet_icon.png); 
}

.nav__main:hover {
    list-style-type: none;
    list-style-image: url(../../img/main_icon_hover.png);
}

.nav__feed:hover {
    list-style-type: none;
    list-style-image: url(../../img/feed_icon_hover.png);
}

.nav__wallet:hover {
    list-style-type: none;
    list-style-image: url(../../img/wallet_icon_hover.png);

}

.nav__feed:hover .nav__link {
    list-style-type: none;
    list-style-image: url(../../img/feed_icon_hover.png);

}

.nav__wallet:hover .nav__link {
    list-style-type: none;
    list-style-image: url(../../img/feed_icon_hover.png);

}

.nav__item.nav__feed--active{

}
nav__feed