.offer__img {
    position: absolute;
  
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.offer__circle {
    position: relative;
    /*left: 39%;*/
    width: 70px;
    height: 70px;
    background: #27273e;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: auto;
}
.offer__item {
    display: inline-block;
    text-align: center;
    float: left;
    /*padding: 10px;*/
    width: 250px;
}
.offer__name {
    font-family: 'Gotham Pro';
    font-weight: 700;
    font-size: 11px;
}
.information__text {
    font-family: 'Gotham Pro';
    font-size: 18px;
    font-weight: 400;
}
.information__item {
    font-family: 'Gotham Pro';
    font-size: 18px;
    font-weight: 400;
    color: #312e2e;
}
li.information__item {
    list-style-type: none;
}

.information__some {
    width: 250px;
}

.information__list {
    text-align: start;
    padding-left: 25px;
}

li.information__item:before {

    color: #cc3366;
    /* Цвет маркера */
    content: "•";
    /* Сам маркер */
    padding-right: 20px;
    /* Расстояние от маркера до текста */
}
.main__list{
    margin:0px;
}